@import "index_style.css";



.tier_s{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    padding: 10px;
}


.tier_a{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
}

div{
    display: flex;
    justify-content: center;
}

.hm2{
    display: block;
}


img{
    width: 17vw;
    height: auto;
}

img:hover{
    cursor: pointer;
}