@import "index_style.css";



.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    padding: 10px;
}

.middle_part{
    min-height: 200vh;
    height: auto;
}

.tier_a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    padding: 10px;
}

div{
    display: flex;
    justify-content: center;
}

.hm2{
    display: block;
}

.ultra_kill{
    display: block;
}

.valiant_hearts{
    display: block;
}

.slay_the_spire{
    display: block;
}

.gremlins_inc{
    display: block;
}

.heart_stone{
    display: block;
}

img{
    width: 17vw;
    height: auto;
}

img:hover{
    cursor: pointer;
}
